<%= form_for @article, :url => articles_path(@article) do |f| %>
    <div class="field">
    <%= f.text_field :label, placeholder: "Header.." %>
    <%= f.text_area :body, placeholder: "New article.." %>
    <p><%= f.file_field :file %><p/>
    <%= f.submit "OK", class: "btn btn-success" %>
   </div>
<% end %>
