<% if @feed_items.any? %>
  <ol class="articles">
    <% @feed_items.each do |feed_item| %>
    <li id="<%= feed_item.id %>">
      <%= image_tag feed_item.user.avatar.url(:thumb) %>
    <span class="user">
    <%= link_to feed_item.user.username, feed_item.user %>
  </span><br/>
    <h3>Article </h3>
    <span class="label"><%= feed_item.label %></span><br/>
    <span class="body"><%= feed_item.body %></span><br/>
    <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span><br/>
    </li>
    
      <% end %>
  </ol>

<% end %>
