<li>
  <%= image_tag user.avatar.url(:thumb) %>
  <%= link_to user.username, user %><br/>
  <% if user.articles.any? %>
  <h4>Last article</h4>
    <span class="label"><%= user.articles.first.label%></span><br/>
    <span class="body"><%= user.articles.first.body%></span><br/>
    <span class="timestamp">Posted <%= user.articles.first.created_at%> ago.</span><br/>
    <% if user.articles.first.comments.any? %>
      <h4>Last comment</h4>
      <span class="content"><%= user.articles.first.comments.last.content%></span><br/>
      <span class="timestamp">Posted <%= user.articles.first.comments.last.created_at%> ago.</span><br/>
    <%end%>
  <%end%>


</li>
