<div class="container">
  <div class="row">
    <aside class="span4">
      <section>
         <%= image_tag @user.avatar.url(:thumb) %><br/>
          <h1><%= @user.username %></h1>
      </section>
      <section>
          <%= render 'partials/stats' %>
        </section>
      <section>
        <%= render 'partials/article_form' if @user == current_user%>
      </section>
    </aside>
  <div class="span8">
     <%= render 'follow_form' if signed_in? %>
    <% if @user.articles.any? %>
      <h3>Articles (<%= @user.articles.count %>)</h3>
      <ol class="article">
        <%= render 'articles/articles' %>
      </ol>
      <% end %>
  </div>
  <div class="span8">
      <h3>Articles Feed</h3>
      <%= render 'partials/feed' %>
    </div>
</div>
</div>
