<div class="row">
  <aside class="span4">
    <section>
       <%= image_tag @user.avatar.url(:thumb) %><br/>
      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Articles:</b> <%= @user.articles.count %></span>
    </section>
    <section>
      <%= render 'partials/stats' %>      
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <% end %>
  </div>
</div>
